header {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0;
	height: 1.8cm;
	background-color: #c2c9d4;
}

.logo {
	float: left;
	width: 100px;
  	height: 100px;
	padding:16px 16px 16px;
}

.menu {
	font-size: 22px;
	color: floralwhite;
	top: 20px;
	padding: 16px;
}

p.title{
	  font-size: 30px;
	  color: crimson;
}

p.about {
	line-height: 2;
	font-size: 20px;
}

h2{
	  color:darkturquoise;
}

body{
	  background-color: goldenrod;
}

a:link{
	color: fuchsia;
}

a:active{
	color: coral;
}

a:hover{
	color: green;
}

a:visited{
	color: rgb(179, 51, 115);
}

#img1{
	float: left;
}

#img2{
	float: right;
}

#img1{
	float: left;
}

table{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	left: 20px;
	margin: 10px;
	border-collapse: collapse;
}

a.videos{
	margin: 20px;
}

ol{
	color: rgb(36, 23, 33);
	text-align: right;
	font-size: 18px;
	line-height: 2;
	padding-right: .6em;
	background-position: 100% .4em;
}

ul{
	text-align: right;
	list-style-type: square;
	padding-right: .6em;
	background-position: 100% .4em;
}

form{
	margin-left: 10px;
	font-size: 20px;
}

p.contact{
	color: rgb(45, 186, 211);
	font-size: 45px;

}



